.header {
  font-size: var(--font-size-mini);
  color: var(--dark);
  font-family: var(--table-header);
}

.project-name {
  margin-top: 1%;
}

.dashboard {
  font-weight: 600;
  color: #82659c;
  display: flex;
  align-items: center;
}

.frameIcon {
  width: 12px;
  height: 12px;
  overflow: hidden;
  margin-left: 5px;
}

.rectangleParent {
  display: flex;
  align-items: center;
}

.groupChild {
  border-radius: var(--br-21xl);
  background-color: var(--color-whitesmoke-100);
  width: 255px;
  height: 50px;
}

.magnifyingGlass1Icon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin: 0 10px;
}

.searchForSomething {
  color: var(--dark);
}

.headerItem,
.headerInner,
.maskGroupIcon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .rectangleParent {
    margin-top: 10px;
  }

  .headerItem,
  .headerInner,
  .maskGroupIcon {
    width: 30px;
    height: 30px;
  }
}
